{% extends 'base.html' %}

{% block content %}
    <div class="d-flex">
        <canvas id="cityNetwork"  width="800" height="600" class="flex-grow-1"></canvas>
        <div class="button-container">
            <button id="calculate" class="btn btn-primary btn-custom">Calculate MST</button>
            <button id="add" class="btn btn-primary btn-custom" data-selected="false">Add City</button>
            <button id="connect" class="btn btn-primary btn-custom" data-selected="false">Connect Cities</button>
            <button id="weight" class="btn btn-primary btn-custom" data-selected="false">Modify Cost between Cities</button>
            <button id="store" class="btn btn-primary btn-custom">Store the Graph Now</button>
            <button id="load" class="btn btn-primary btn-custom">Load existing graph</button>
            <button id="clear" class="btn btn-danger btn-custom">Clear</button>
        </div>
    </div>


    <!-- 模态框 -->
<div class="modal fade" id="storeModal" tabindex="-1" role="dialog" aria-labeledby="storeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-title" id="storeModalLabel">
                Store Graph Information
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="graphName">Graph Name</label>
                        <input type="text" class="form-control" id="graphName" name="graphName" placeholder="Enter graph name">
                    </div>
                    <div class="form-group">
                        <label for="graphDescription">Graph Description</label>
                        <textarea class="form-control" id="graphDescription" name="graphDescription" placeholder="Enter graph description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit">Submit</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}



